.hello
{
    text-decoration: underline;
    float: right;
}

.seccionInicio
{
    height: 650px;
    background: blue;
    border: solid;
}


.botonIndex
{
    text-decoration: none;
    border-radius: 3px;
    padding: 10px;
    background-color: white;
    color: black;
}

.decoration{
    text-decoration: none;
}

.giftPrincipal
{
    background-image: url(https://media.giphy.com/media/SqIVSReiKpNAEnhAD6/giphy.gif);
    height: 400px;
    background-repeat: no-repeat;
    margin-top: 80px;
    margin-left: 380px;
}

.tituloIndex
{
    position: absolute;
    margin-top: 20px;
    margin-left: 25px;
}

.cuadradoGenerall
{
    height: 616px;
    border: solid;
    background-image: linear-gradient(120deg, #EBEDF0 0%, #8C8E90 100%);
}