.container
{
    background-color: aqua;
    margin-top: 300px;
}

.principalRegistroPaci
{
    background-image: url(https://media.giphy.com/media/alI6dnpsXz4xq/giphy.gif);
    height: 250px;
    width:500px;
    border: solid;
    background-repeat: no-repeat;
    position: absolute;
    margin-left: 100px;
    margin-top:15px;
}

.principalRegistroMedi
{
    background-image: url(https://media.giphy.com/media/NsDgJPXkk5CK7pPYkJ/giphy.gif);
    height: 250px;
    width: 500px;
    border: solid;
    background-repeat: no-repeat; 
    position: absolute;
    margin-left: 700px;
    margin-top: 15px;
}

.principalRegistroRece
{
    background-image: url(https://media.giphy.com/media/l3vRmzGbogQNeiGWs/giphy.gif);
    height: 250px;
    width: 485px;
    border: solid;
    background-repeat: no-repeat; 
    position: absolute;
    margin-left: 410px;
    margin-top: 280px;
}

.registroPaciente
{
    text-decoration: none;
    border-radius: 3px;
    background-color: gray;
    position: absolute;
    margin-left: 291px;
    border: solid gray;

}

.registroMedi
{
    text-decoration: none;
    border-radius: 3px;
    background-color: gray;
    position: absolute;
    border: solid gray;
}

.registroRece
{
    text-decoration: none;
    border-radius: 3px;
    background-color: gray;
    margin-left: 150px;
    position: absolute;
    border: solid gray;
}

.cuadradoRegistro
{
    height: 545px;
    border: solid;
    background-image: linear-gradient(120deg, #EBEDF0 0%, #8C8E90 100%);
}

.link
{
    text-decoration: none;
    color: gray;
}
