.registroM {
    max-width: 978px;
    width: 800px;
    display: flex;
    border: 4px;
    border-radius: 5px;
    border-color: gray;
    background-image: linear-gradient(120deg, #EBEDF0 0%, gray 100%);
    overflow-y: hidden;
    overflow-x: hidden;
    margin-left: 240px;
    margin-top:80px;
    position: absolute;
}

.tcl1{
    margin-top: 10px;
    margin-left: 170px;
}

.tcl2 {
    margin-left: 207px;
    margin-top: -10px;
}

.columna22 {
    position: absolute;
    height: 220px;
    margin-left: 380px;
    margin-top: 85px;
}


.formM
{
    margin-top: 15px;
    margin-left: 30px;
}

.botonMr
{
    margin-top:15px;
    margin-left: 90px;
}